## Sets are used to store multiple items in a single variable.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [4]:
set11={}

In [5]:
set11

{}

In [6]:
type(set11)

dict

so    you can't create empty sets

In [7]:
set1={1,45,7,12,99,16}

In [8]:
set1

{1, 7, 12, 16, 45, 99}

In [9]:
type(set1)

set

In [51]:
set2={2,4,6}

In [52]:
del set2

In [53]:
set2

NameError: name 'set2' is not defined

# Set items are unordered, unchangeable, and do not allow duplicate values.

In [10]:
set1

{1, 7, 12, 16, 45, 99}

In [11]:
set1={1,45,7,12,99,16}

In [12]:
set1

{1, 7, 12, 16, 45, 99}

In [13]:
set1

{1, 7, 12, 16, 45, 99}

Duplicates Not Allowed

In [15]:
set2={12,45,12,6,4,1}

In [16]:
set2

{1, 4, 6, 12, 45}

# functions

In [19]:
set3={12,56,1}

In [22]:
len(set3)

3

In [23]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Access Items and iteration

In [26]:
# You cannot access items in a set by referring to an index or a key.

# But you can loop through the set items using a for loop, 
# or ask if a specified value is present in a set, by using the in keyword.

In [27]:
set4={12,56,1,58}

In [28]:
for x in set4:
    print(x)

56
1
58
12

In [29]:
12 in set4

True

# Methods

In [34]:
#Once a set is created, you cannot change its items, but you can add new items.

In [35]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

In [36]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [37]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

In [38]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [39]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]  # it may be list or any sequence

thisset.update(mylist)

In [41]:
thisset

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

In [42]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

In [43]:
thisset

{'apple', 'cherry'}

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

In [45]:
thisset

{'apple', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

In [10]:
x

'banana'

In [48]:
thisset

{'apple', 'banana'}

In [ ]:
# You can also use the pop() method to remove an item, 
# but this method will remove the last item. Remember that sets are unordered, 
# so you will not know what item that gets removed.

In [49]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

In [50]:
thisset

set()

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)

In [55]:
set3

{1, 2, 3, 'a', 'b', 'c'}

In [59]:
x

{'apple'}

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

In [61]:
z

{'apple'}

In [2]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

In [4]:
z

{'banana', 'cherry', 'google', 'microsoft'}