### Container is an entity which contains multiple data items. It is also known as a Collections.

Python has following container data types:
1. Lists
2. Tuples
3. Sets
4. Dictionaries

A List is also called as dynamic array. It is an ordered collections which can be indexed and sliced.

Lists are commonly used for handling variable length data.

Though lists can contain dissimilar types, usually they are collection of similar types.

animals = ['zebra','tiger','lion']
marks = [67,89,65,75]
num = [10]*5   # stores [10,10,10,10,10]
lst = []   # empty list

Accessing List elements:

Like Strings and array, list items can be accessed using indices. Hance, they are also called as sequence type.
The Index start from 0.

It is built in type sequence data type

In [1]:
list1=[]   # Empty list

In [2]:
type(list1)

list

In [3]:
marks=[12,34,56,34]

In [6]:
marks

[12, 34, 56, 34]

In [4]:
name=['suraj','akash','amol','rahul']

In [5]:
name

['suraj', 'akash', 'amol', 'rahul']

In [7]:
list2=['suraj',80,12.45,12+6j]

In [8]:
list2

['suraj', 80, 12.45, (12+6j)]

# Accesing values of list

In [9]:
marks=[12,34,56,34]

In [10]:
marks[0]

12

In [11]:
marks[3]

34

In [12]:
marks[-1]

34

In [13]:
marks[-4]

12

In [14]:
marks[8]

IndexError: list index out of range

# slicing

In [20]:
marks=[12,34,56,34]

In [21]:
marks[:]

[12, 34, 56, 34]

In [22]:
marks[:3]

[12, 34, 56]

In [23]:
marks[1:4]

[34, 56, 34]

In [24]:
marks[-4:-1]

[12, 34, 56]

In [25]:
marks[-1:]

[34]

# updating list

In [26]:
marks=[12,34,56,34]

In [27]:
marks[0]=50

In [28]:
marks

[50, 34, 56, 34]

In [29]:
marks[:2]=44,33

In [30]:
marks

[44, 33, 56, 34]

In [6]:
num_list = [10,20,30,40]
num_list[4:] = [50,60,70,80]
# num_list[4:]=[50]

print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80]

In [7]:
num_list

[10, 20, 30, 40, 50, 60, 70, 80]

In [4]:
num_list[2:5] = []
print(num_list)

[10, 20, 60, 70, 80]

In [34]:
# New List can be create using the existing list
list1 = [1,2,3,4]
list2 = list1 + [5,6,7,8]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [190]:
colors=['red', 'orange', 'magenta', 'aqua', 'blue']
colors[1:4] = ["yellow", "green"]
colors

['red', 'yellow', 'green', 'blue']

# Deleting list

In [35]:
marks=[12,34,56,34]

In [36]:
marks

[12, 34, 56, 34]

In [37]:
del marks # list object

In [38]:
marks

NameError: name 'marks' is not defined

In [39]:
marks=[12,34,56,34]

In [40]:
del marks[0]  #particular value

In [41]:
marks

[34, 56, 34]

In [69]:
marks=[12,34,56,34]

In [70]:
marks

[12, 34, 56, 34]

In [71]:
del marks[0:3]

In [72]:
marks

[34]

# operations on list

In [42]:
# # len([1, 2, 3]) 
# 3 
# Length
# # [1, 2, 3] + [4, 5, 6] 
# [1, 2, 3, 4, 5, 6] 
# Concatenation
# # ['Hi!'] * 4 
# ['Hi!', 'Hi!', 'Hi!', 'Hi!'] 
# Repetition
# # 3 in [1, 2, 3] 
# True Membership
# # for x in [1,2,3] : 
# print (x,end=' ')
# # 1 2 3 
# Iteration

In [43]:
# Concatenation

In [44]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [46]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
#Repetition

In [48]:
list1=[1,2,3,4,5]
list1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [49]:
list1

[1, 2, 3, 4, 5]

In [50]:
list1=[1,2,3,4,5]
list2=list1*3

In [51]:
list2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [52]:
#Membership

In [53]:
3 in [1, 2, 3]

True

In [54]:
# Iteration

In [55]:
for x in [1,2,3] : 
    print (x,end=' ')

1 2 3

In [8]:
# we can check if a list is empty using not operators
lst = []
if not lst:
    print('Empty List, we cant proceed')

Empty List, we cant proceed

In [13]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5],[8,9,7],"Madhuri"]

In [20]:
n_list[0]

'Happy'

In [21]:
n_list[1]

[2, 0, 1, 5]

In [22]:
n_list[2]

[8, 9, 7]

In [23]:
n_list[3]

'Madhuri'

# SHALLOW COPY

In [109]:
# SHALLOW COPY - on assigning one list to another, both refer to the same list. Changing one changes the other.

In [110]:
list1 = [10,20,30,40,50]
list2 = list1  # it doensn't copy the list. list2 refers to the same list as list1
print(list1)
print(list2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [111]:
id(list1)

2496112831104

In [112]:
id(list2)

2496112831104

In [114]:
list1[1]=34

In [115]:
list1

[10, 34, 30, 40, 50]

In [116]:
list2

[10, 34, 30, 40, 50]

In [ ]:
# It means that, list1 and list2 both are refering to same memory or list.

# DEEP COPY

In [117]:
# DEEP COPY: Copies contents of one list into another. Both refer to different lists. Though both contains same values.
# changing one, doesn't change other

list1 = [10,20,30,40,50]
list2 = []
list2 = list1 + list2
# Let print the Both Lists
print(list1)
print(list2)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [118]:
# also check the id or address of both lists
print(id(list1))
print(id(list2))
# BOTH ARE DIFFERENT!!, It means that, list1 and list2 both are stored sepeately in memory

2496112831424
2496112819072

In [ ]:
# As both lists have stored in different memory locations, change in one list doesnot reflect in another list

In [221]:
animals = ["lion", "tiger", "frumious Bandersnatch"]
large_cats = animals[:]
large_cats.append("leopard")
print(large_cats)
print(animals)
print(id(large_cats))
print(id(animals))

['lion', 'tiger', 'frumious Bandersnatch', 'leopard']
['lion', 'tiger', 'frumious Bandersnatch']
2496112832128
2496112830848

# some extra

In [119]:
# Deletion of List
list1 = [10,20,30,40,50]
list2 = list3 = list1  # all refers to same list
list1 = []   # list1 now refers to empty list
print(list2) 
print(list3)
list2[:] = []   # list is emptied by deleting all items
print(list2)    # list2 and list3 are refering to same list, so both are empty list
print(list3)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[]
[]

In [120]:
list1

[]

In [121]:
list2

[]

In [122]:
list3

[]

In [126]:
# we can find out whether two list variables are referring to the same list
list1 = [10,20,30,40,50]
list2=list3=list1     # all refers to same list
list4 = ['A','B','C']
print(list1 is list2)   # print True
print(list1 is list3)   # print True
print(list4 is list1)   # print False
print(list1 is not list4)  # print True

True
True
False
True

In [218]:
animals = ["lion", "tiger", "frumious Bandersnatch"]
large_cats = animals[:]
large_cats.append("leopard")
print(large_cats)
print(animals)

['lion', 'tiger', 'frumious Bandersnatch', 'leopard']
['lion', 'tiger', 'frumious Bandersnatch']

In [42]:
# it is possible to compare lists
# comparison is done item by item till there is a mismatch
a = [1,2,5,4,5,6]
b = [1,2,5,4]
if a<b:
    print('a is less than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is less than a')

b is less than a

In [41]:
# it is possible to compare lists
# comparison is done item by item till there is a mismatch
a = [1,2,5,4,5,6]
b = [1,2,5,4]
if a<b:
    print('a is less than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is less than a')

b is less than a

In [40]:
# it is possible to compare lists
# comparison is done item by item till there is a mismatch
a = [1,2,5,4]
b = [1,2,5,6]
if a<b:
    print('a is less than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is less than a')

a is less than b

In [37]:
# it is possible to compare lists
# comparison is done item by item till there is a mismatch
a = [6,2,5,4]
b = [1,2,5,6]
if a<b:
    print('a is less than b')
elif a==b:
    print('a is equal to b')
else:
    print('b is less than a')

b is less than a

In [167]:
num=[1,2,3,4]
num+=[0,9]

In [168]:
num

[1, 2, 3, 4, 0, 9]

# Built-in List Functions

In [56]:
list1=[1,2,3,4,5]

In [57]:
len(list1)

5

In [58]:
max(list1)

5

In [59]:
min(list1)

1

In [60]:
list('suraj')

['s', 'u', 'r', 'a', 'j']

In [61]:
list((1,2,3,4))

[1, 2, 3, 4]

In [64]:
list({1,2,3,4})

[1, 2, 3, 4]

In [43]:
dict={1:12,2:23,3:23}

In [66]:
dict

{1: 12, 2: 23, 3: 23}

In [47]:
list(dict.keys())

[1, 2, 3]

In [48]:
list(dict.values())

[12, 23, 23]

In [74]:
list1

[1, 2, 3, 4, 5]

In [1]:
marks=[50,34,56,34]

In [2]:
sorted(marks)

[34, 34, 50, 56]

In [107]:
sum(marks)

136

In [9]:
marks=[12,34,56,34,None]

In [11]:
marks=[10,20,30,40,0]

In [13]:
all(marks)

False

In [7]:
name=["Madhuri",0]

In [5]:
all(name)

False

In [8]:
any(name)

True

In [144]:
any(marks) # if even one items in true value give True

True

In [145]:
all(marks)    # if all items in true value give True

True

In [148]:
marks=[None,None]

In [149]:
marks

[None, None]

In [150]:
any(marks)

False

In [151]:
marks=[0,0]

In [152]:
marks

[0, 0]

In [153]:
any(marks)

False

In [154]:
marks=[0,1]

In [155]:
any(marks)

True

In [156]:
all(marks)

False

In [157]:
marks=[0,0]

In [158]:
all(marks)

False

# & Methods

In [197]:
marks=[12,34,56,34]

In [198]:
marks

[12, 34, 56, 34]

In [199]:
marks.append(10)

In [200]:
marks

[12, 34, 56, 34, 10]

In [201]:
marks.count(34)

2

In [202]:
marks

[12, 34, 56, 34, 10]

In [203]:
marks.extend([44,66])

In [204]:
marks

[12, 34, 56, 34, 10, 44, 66]

In [205]:
#The index() method returns the lowest index in list that obj appears.
marks.index(34)

1

In [206]:
marks.index(88)

ValueError: 88 is not in list

In [207]:
#   insert(index, obj)
# .insert() is said to alter value  in place. 
#  This is true for all list methods that do not return a value.

In [208]:
marks

[12, 34, 56, 34, 10, 44, 66]

In [209]:
marks.insert(1,55)

In [210]:
marks

[12, 55, 34, 56, 34, 10, 44, 66]

In [211]:
marks=marks.insert(1,55)

In [214]:
print(marks)

None

In [213]:
list1 = ['physics', 'chemistry', 'maths']
list1.insert(1, 'Biology')
print ('Final list : ', list1)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [93]:
# list.
#   pop(obj=list[-1])

In [1]:
marks=[12,34,56,34]

In [2]:
marks.pop(2)

56

In [96]:
marks

[12, 34, 56]

In [98]:
marks=[12,34,56,34]

In [99]:
marks

[12, 34, 56, 34]

In [100]:
marks.remove(34)

In [101]:
marks

[12, 56, 34]

In [102]:
marks=[12,34,56,34]

In [103]:
marks.reverse()

In [104]:
marks

[34, 56, 34, 12]

In [105]:
marks.sort()

In [106]:
marks

[12, 34, 34, 56]

In [124]:
marks.sort(reverse=True)

In [125]:
marks

[56, 34, 34, 12]

In [3]:
colors = ["red", "yellow", "green", "blue"]
colors.sort(key=len)

In [4]:
colors

['red', 'blue', 'green', 'yellow']

In [6]:
def get_second_element(item):
    
    return item[1]
items = [(4, 1), (1, 2), (-9, 0)]
items.sort(key=get_second_element)
print(items)

4
1
-9
[(-9, 0), (4, 1), (1, 2)]

In [135]:
marks.clear()

In [136]:
marks

[]

# list by split method of string

In [6]:
groceries = "eggs, milk, cheese"
print(type(groceries))
grocery_list = groceries.split(",")

<class 'str'>

In [178]:
grocery_list

['eggs', ' milk', ' cheese']

In [183]:
groceries = "eggs;milk;cheese"
grocery_list = groceries.split(";")

In [184]:
grocery_list

['eggs', 'milk', 'cheese']

In [1]:
name='Madhuri Spruha'

In [2]:
name.split()  # by default space

['Madhuri', 'Spruha']

In [3]:
"abbaabba".split("ba")

['ab', 'ab', '']

# again extra

# list in list

In [130]:
# Extra Notes regarding List
# A list may be embedded in another list
x = [1,2,3,4]
y = [10,20,x,40]
print(y)

[10, 20, [1, 2, 3, 4], 40]

In [131]:
x=[1,2,3]
y=[6,x,7,9]

In [132]:
x

[1, 2, 3]

In [133]:
y

[6, [1, 2, 3], 7, 9]

In [134]:
y[1][0]

1

unpack list

In [137]:
# It is possible to unpack a string or list within a list using the * operator
s = 'Hello'
list1 = [*s]
print(list1)

['H', 'e', 'l', 'l', 'o']

In [139]:
s=[1,2,3,4]
p=[*s]

In [140]:
s

[1, 2, 3, 4]

In [141]:
p

[1, 2, 3, 4]

In [142]:
x = [1,2,3,4]
y = [10,20,*x,30]
print(y)

[10, 20, 1, 2, 3, 4, 30]

# List comprehension

Yet another way to create a list from an existing iterable is with a list
comprehension:

In [159]:
even=[2*i for i in range(1,11)]

In [160]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [163]:
list1=[1,2,3,4,5]
one=[i for i in list1]

In [164]:
one

[1, 2, 3, 4, 5]

In [165]:
list1=[1,2,3,4,5]
one=[i**2 for i in list1]

In [166]:
one

[1, 4, 9, 16, 25]

In [215]:
str_numbers = ["1.5", "2.3", "5.25"]
float_numbers = [float(value) for value in str_numbers]

In [216]:
float_numbers

[1.5, 2.3, 5.25]

In [1]:
#dictionay
lst=[12,13,15,19,17,16,21,23,24]
di={i:i**3 for i in lst}
print(di)
type(di)

{12: 1728, 13: 2197, 15: 3375, 19: 6859, 17: 4913, 16: 4096, 21: 9261, 23: 12167, 24: 13824}

dict

In [7]:
#set
lst=[12,13,15,19,17,16,21,23,24,17]
s={i for i in lst}
print(s)
type(s)

{12, 13, 15, 16, 17, 19, 21, 23, 24}

set

# new list and reading more elements

In [173]:
newlist=[]
num=int(input('how many elments you want in list'))
for x in range(num):
    n=int(input('enter the number'))
    newlist.append(n)
print('newlist is =',newlist)

how many elments you want in list2
enter the number1
enter the number2
newlist is = [1, 2]

# Asigning list elements

In [1]:
num = [1,2,3]

In [2]:
x,y,z=num

In [3]:
x

1

In [4]:
y

2

In [5]:
z

3

In [6]:
# This is a list of some metallic elements.
# metals = [ 'silver','gold', ... ]
# Make a new list that is almost identical to the  metals list: the new contains the same items, 
# in  the same order, except that it does NOT contain  the item 'copper'.

In [7]:
metals = [ 'silver','gold', 'copper','aluminium','bronz']
new_metals=[]
for value in metals:
    if value!='copper':
        new_metals.append(value)
print(new_metals)

['silver', 'gold', 'aluminium', 'bronz']