# Dictionary

In plain English, a dictionary is a book containing the definitions of
words. Each entry in a dictionary has two parts: the word being defined,
and its definition.
Python dictionaries, like lists and tuples, store a collection of objects.
However, instead of storing objects in a sequence, dictionaries hold
information in pairs of data called key-value pairs. That is, each
object in a dictionary has two parts: a key and a value.

# Dictionaries hold information in pairs of data called key-value pairs. That is, each
object in a dictionary has two parts: a key and a value.

# The key in a key-value pair is a unique name that identifies the value part of the pair

In [1]:
# Each key is separated from its value by a colon (:), 
# the items are separated by commas,
# and the whole thing is enclosed in curly braces. 
# # An empty dictionary without any items is written with just two curly braces, like this: {}.

In [ ]:
# Dictionaries store data as key-value pairs. They are not sequences, so
# you cannot access elements by index
# Dictionarie are mutable

In [143]:
dict1={}

In [144]:
dict1

{}

In [145]:
type(dict1)

dict

In [146]:
dict1={1:23,5:56,3:47}

In [147]:
dict1

{1: 23, 5: 56, 3: 47}

In [148]:
type(dict1)

dict

In [149]:
dict3 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [150]:
dict3

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [151]:
dict3['Name']

'Zara'

In [152]:
dict3['Age']

7

In [153]:
dict3['Class']

'First'

# updating dictionary

In [132]:
dict4 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [133]:
dict4['Age']=8

In [134]:
dict4

{'Name': 'Zara', 'Age': 8, 'Class': 'First'}

In [135]:
dict4['Class']='Second'

In [136]:
dict4

{'Name': 'Zara', 'Age': 8, 'Class': 'Second'}

In [137]:
dict4['School']='DPS school'

In [138]:
dict4

{'Name': 'Zara', 'Age': 8, 'Class': 'Second', 'School': 'DPS school'}

In [139]:
dict4['School']

'DPS school'

# Delete Dictionary Elements

In [158]:
dict2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [159]:
dict2

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [160]:
del dict2

In [161]:
dict2

NameError: name 'dict2' is not defined

In [162]:
dict5 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [163]:
dict5

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [164]:
del dict5['Name']

In [166]:
dict5

{'Age': 7, 'Class': 'First'}

In [167]:
dict5.clear()

In [168]:
dict5

{}

In [169]:
dict6 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [170]:
del dict6['Name'],dict6['Age']

In [172]:
dict6

{'Class': 'First'}

In [1]:
dic= { 'A' : "John", 'B' : "Sam", 'C' : "Max" }
print("Dictionary before removing key: ",dic)

# using dictionary comprehension to copy without 'B'

new_dic= { key:val for key, val in dic.items() if key!= 'B'}
print("Dictionary after removing key: ",new_dic)

Dictionary before removing key:  {'A': 'John', 'B': 'Sam', 'C': 'Max'}
Dictionary after removing key:  {'A': 'John', 'C': 'Max'}

# Properties of Dictionary Keys

In [54]:
# Dictionary values have no restrictions. They can be any arbitrary Python object, either 
#  standard objects or user-defined objects. However, same is not true for the keys.

In [55]:
# (a) More than one entry per key is not allowed. This means no duplicate key is allowed. 
# When duplicate keys are encountered during assignment, the last assignment wins

In [2]:
newdict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}

In [3]:
newdict['Name']

'Manni'

In [175]:
# (b) Keys must be immutable. This means you can use strings, numbers or tuples as 
# dictionary keys but something like ['key'] is not allowed.

In [176]:
dict7 = {['Name']: 'Zara', 'Age': 7}

TypeError: unhashable type: 'list'

In [2]:
dict8 = {1: 'Zara', 'Age': (1,2,3)} #list cannot be a dictionary key.only immutable are allowed

In [4]:
dict8['Age'][0]

1

In [1]:
dd={1:12,2:[4,6,7]}

In [5]:
dd

{1: 12, 2: [4, 6, 7]}

In [4]:
dd[2]

[4, 6, 7]

In [179]:
dict9 = {('x','y'): 'Zara', 'Age': 12}

In [180]:
dict9

{('x', 'y'): 'Zara', 'Age': 12}

# Built-in Dictionary Functions & Methods

In [65]:
a = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [66]:
len(a)

3

In [67]:
type(a)

dict

In [68]:
str(a)  #The method str() produces a printable string representation of a dictionary

"{'Name': 'Zara', 'Age': 7, 'Class': 'First'}"

# Methods with Description

In [70]:
stu1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [71]:
stu1.clear()

In [72]:
stu1

{}

In [5]:
stu1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [6]:
stu1

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [7]:
stu2=stu1.copy() #This method returns a shallow copy of the dictionary.stu2 is shallow copy 
#its here stu2 changes stu1 also changes but if stu1 changes, not stu2

In [9]:
print(id(stu1))

2242505042304

In [10]:
print(id(stu2))

2242505145536

In [89]:
# dict.fromkeys(seq[, value])
# The method fromkeys() creates a new dictionary with keys from seq and values set to 
# value.

In [11]:
seq = ('name', 'age', 'class')

In [13]:
d1=dict.fromkeys(seq)

In [14]:
d1

{'name': None, 'age': None, 'class': None}

In [23]:
l=[1,2,3]

In [24]:
d1=dict.fromkeys(seq,l)

In [25]:
d1

{'name': [1, 2, 3], 'age': [1, 2, 3], 'class': [1, 2, 3]}

In [187]:
d1['name']='suraj'

In [188]:
d1

{'name': 'suraj', 'age': 10, 'class': 10}

In [105]:
# The method get() returns a value for the given key. If the key is not available then returns 
# default value None.
#dict.get(key, default=None)

In [106]:
d2 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [107]:
d2

{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [108]:
d2.get('Name')

'Zara'

In [110]:
d2.get('std','Nan') # you can pass anything other Nan also like d2.get('std',12)

'Nan'

In [111]:
# The method items() returns a list of dict's (key, value) tuple pairs.
#   dict.items()

In [112]:
d2.items()

dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])

In [113]:
d2.keys()   #This method returns a list of all the available keys in the dictionary

dict_keys(['Name', 'Age', 'Class'])

In [114]:
d2.values()

dict_values(['Zara', 7, 'First'])

In [117]:
d2.setdefault('Age',None) #The method setdefault() is similar to get(), 
#but will set dict[key]=default if the key is not already in dict.

7

In [119]:
d2.setdefault('std',None)

In [121]:
d2

{'Name': 'Zara', 'Age': 7, 'Class': 'First', 'std': None}

In [122]:
p1 = {'Name': 'Zara', 'Age': 7}
p2 = {'Sex': 'female' }
p1.update(p2)

In [123]:
p1

{'Name': 'Zara', 'Age': 7, 'Sex': 'female'}

In [124]:
p2

{'Sex': 'female'}

In [26]:
new1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [28]:
new1.pop('Age')

7

In [5]:
new1

{'Name': 'Zara', 'Class': 'First'}

In [13]:
'Zara' in s1.values() # just key

True

In [195]:
'zara' in s1

False

In [16]:
if 'Name' in s1:
    print(f"The name is {s1['Name']}")

The name is Zara

In [196]:
for keys in s1:
    print(keys)

Name
Age
Class

In [197]:
for keys in s1:
    print(f"tha value for {keys}={s1[keys]}")

tha vale for Name=Zara
tha vale for Age=7
tha vale for Class=First

In [199]:
for keys,values in s1.items():
    print(f"tha value for {keys}={values}")

tha value for Name=Zara
tha value for Age=7
tha value for Class=First

In [203]:
states = {"California": { "capital": "Sacramento","flower": "California Poppy"},
          "New York": {"capital": "Albany", "flower": "Rose"}, 
          "Texas": { "capital": "Austin","flower": "Bluebonnet" }}

In [204]:
states

{'California': {'capital': 'Sacramento', 'flower': 'California Poppy'},
 'New York': {'capital': 'Albany', 'flower': 'Rose'},
 'Texas': {'capital': 'Austin', 'flower': 'Bluebonnet'}}

In [205]:
states['Texas']

{'capital': 'Austin', 'flower': 'Bluebonnet'}

In [206]:
states['Texas']['capital']

'Austin'

In [43]:
dic={ 'x':455, 'y':223, 'z':300, 'p':908 }

print("Dictionary: ", dic)

#using sum() and values()
print("sum: ",sum(dic.values()))

Dictionary:  {'x': 455, 'y': 223, 'z': 300, 'p': 908}
sum:  1886

In [42]:
def Sum(dic):
    #sum variable
    sum=0
    #iterate through values
    for i in dic.values():
        sum=sum+i
    return sum

#initialisation
dic={ 'x':30, 'y':145, 'z':55 }

print("Dictionary: ", dic)

#print sum
print("sum: ",Sum(dic))

Dictionary:  {'x': 30, 'y': 145, 'z': 55}
sum:  230

In [41]:
def add_values_in_dict(dic, key, list_of_values):
    """Append multiple values to a key in the given dictionary"""
    if key not in dic:
        dic[key] = list()
    dic[key].extend(list_of_values)
    return dic
 
# dictionary containing states and its cities
places = {("Maharashtra"):["Mumbai","Pune","Nagpur"],
          ("Madhya Pradesh"):["Delhi","Bhopal","Indore"]}
 
print(places)
print('\n')

#adding values
add_val=add_values_in_dict(places, "Madhya Pradesh", ["Ujjain", "Sagar"])
print("After adding values")
print(add_val)

{'Maharashtra': ['Mumbai', 'Pune', 'Nagpur'], 'Madhya Pradesh': ['Delhi', 'Bhopal', 'Indore']}


After adding values
{'Maharashtra': ['Mumbai', 'Pune', 'Nagpur'], 'Madhya Pradesh': ['Delhi', 'Bhopal', 'Indore', 'Ujjain', 'Sagar']}

In [46]:
key_value={}

key_value[5] = 10      
key_value[3] = 8
key_value[6] = 77
key_value[4] = 23
key_value[2] = 9     
key_value[1] = 43
 
print("sorting on the basis of keys")
print(key_value)
for i in sorted(key_value) :
    print ((i, key_value[i]), end =" ")

sorting on the basis of keys
{5: 10, 3: 8, 6: 77, 4: 23, 2: 9, 1: 43}
(1, 43) (2, 9) (3, 8) (4, 23) (5, 10) (6, 77)

In [49]:
from collections import OrderedDict  
dic1 = OrderedDict([('A', '100'), ('B', '200'), ('C', '300')])

dic1.update({"D": '400'})
print(dic1)

dic1.move_to_end("D", last=False)
# dic1.move_to_end("D", last=True)
  
print ("Resultant Dictionary :")
print(dic1)

OrderedDict([('A', '100'), ('B', '200'), ('C', '300'), ('D', '400')])
Resultant Dictionary :
OrderedDict([('D', '400'), ('A', '100'), ('B', '200'), ('C', '300')])

In [50]:
dic = {'study': [5, 3, 7], 
             'to': [11, 4, 2, 6], 
             'night': [10, 9]}
  
# print original dictionary
print("The original dictionary is : " ,dic)
  
# Sort Dictionary key and value List
# Using sorted() and loop
sort_dict = {}
for key in sorted(dic):
    sort_dict[key] = sorted(dic[key])
  
# printing result 
print("The sorted dictionary : " , sort_dict)

The original dictionary is :  {'study': [5, 3, 7], 'to': [11, 4, 2, 6], 'night': [10, 9]}
The sorted dictionary :  {'night': [9, 10], 'study': [3, 5, 7], 'to': [2, 4, 6, 11]}

In [53]:
def CountFreq(li):
    freq = {}
    for item in li:
        if (item in freq):
            freq[item] += 1
        else:
            freq[item] = 1
    print(freq) 
li =[1, 1, 3, 2, 6, 5, 3, 1, 3, 3, 1, 4, 6, 4, 4, 2, 2, 2, 2]
CountFreq(li)

{1: 4, 3: 4, 2: 5, 6: 2, 5: 1, 4: 3}

In [2]:
def CountFreq(li):
    freq = {}
    for items in li:
        freq[items] = li.count(items)
    print(freq)
li =['a', 's', 'a', 's', 'c', 'c', 'c','b']
CountFreq(li)

{'a': 2, 's': 2, 'c': 3, 'b': 1}